<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/api/students</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompanyServlet</servlet-name>
        <servlet-class>CompanyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyServlet</servlet-name>
        <url-pattern>/api/companies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EvaluateServlet</servlet-name>
        <servlet-class>EvaluateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EvaluateServlet</servlet-name>
        <url-pattern>/api/evaluate</url-pattern>
    </servlet-mapping>

</web-app>